<script id="instruction-template" type="text/x-handlebars-template">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{index}}">
          {{instructionString}}
        </a>
      </h4>
    </div>
    <div id="collapse{{index}}" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="instruction_widget">
        </div>
        <button type="button" class="btn save">Save</button>
      </div>
    </div>
  </div>
</script>