<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="successModalLabel">Thank you</h4>
      </div>
      <div class="modal-body success_form">
        <%= bootstrap_form_tag html: { id: "success_form" } do |f| %>
          <%= f.text_area :json, class: "json", rows: "30", cols: "50", label: "Preview of your run:"%>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>