@font-face {
  font-family: 'Source Sans Pro';
  src:font-url('SourceSansPro-Regular.ttf');
  font-style: bold;
}

body {
  font-family: $font;
  background-color: $background;
  .btn {
      color: #fff;
      background-color: $transcripticnavy;
      border-radius: 1px;
      border: 1px solid $transcripticnavy;
      &:hover {
        background-color: transparentize($transcripticnavy, 0.5);
      }
    }
  a{
    color: $transcripticnavy;
  }
}

main.container {
  margin-bottom: 100px;
}

.container {
  overflow-y: scroll;
}

.modal-dialog, .modal-content, .modal-header, .modal-body, .form-control, select, input {
    border-radius: 0 !important;
}

#container_list{
  
}

#new_instruction_btn, #submit_run_btn {
  margin-right: auto;
  margin-bottom: 1em;
  margin-left: auto;
  width: 100%;
}


.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.panel-default{
  background-color: #F5F7F8;
}
.panel-body {
  background-color: white;
}