

.modal-body {
	
	#instruction_choices {
		overflow-x: hidden;
		overflow-y: scroll;
		height: 200px;
		margin-right: auto;
		margin-left: auto;
	}

	form {
		border-radius: 0 !important;
	}

	.instruction_type {
		font-style: bold;
		font-size: 2.5em;
		border-radius: 0 !important;
		height: 80px;
		width: 100%;
		position: relative;
		border: 1px solid $transcripticnavy;
		margin: 2px;
		&:hover{
			color: white;
			background-color: $transcripticnavy;
		}
	}
	
}