#instruction_workspace {
  height: 445px;
  margin-right: auto;
  margin-left: auto;
  font-size: 14px;
  text-align: center;
}


#source, #destination {
	width: 100%;
	font-size: 1.2em;
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
}

// .container_holder, .to, .from{
// 	display: inline-block;
// 	margin-right: auto;
// 	margin-left: auto;
// }