#instruction_workspace {
  height: 422px;
}


#distribute_instruction_form {
  display: none;
}

#transfer_instruction_form {
  display: none;
}



.panel-body {
	text-align: center;
	font-size: 1em;
	span, row{
		font-size: .8em;
		padding-bottom: 1em;
	}
	.col-md-6{
	  text-align: center;
	  font-size: 1em;
	}
	.col-md-4{
	  text-align: center;
	  font-size: 16px;
	}

	.transfer_instruction { 
		text-align: center;
		margin: 1em auto 0 auto !important;
		a {
			display: inline-block;
			font-size: 12px;
			
		}
		button{
			margin-left: 1em;
		}
	}
}