.tree {
  padding-left: 0px;
  li {
    list-style: none;
    padding-left: 1em;
    cursor: pointer;
    .expander {
      font-family: FontAwesome;
      display: inline-block;
      margin-left: -1em;
      width: 1em;
      &:hover {
        color: #f78848;
      }
    }
    .span {
      display: inline-block;
    }

    .btn {
      color: #fff;
      background-color: #428bca;
      border-radius: 4px;
      &:hover {
        background-color: #3071a9;
      }
    }
  }
  ul {
    padding-left: 0px;
  }
  
}