$background: #F7F8F9;
$text_and_outlines: #827A8F;
$transcripticorange: #FBAE17;
$transcripticnavy: #394755;
$workspace_back: white;
$shadow: rgba(0, 0, 0, 0.5);
$borders: #C7CED4;
$font: "Source Sans Pro"